<div class="popup-screen d-flex flex-row-reverse" id="popup-screen" style="display: none;">
    <div class="popup-box">
        <button id="close-cart" class="close-btn">&times;</button> <!-- Close Button -->
        <h2>Popup box</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore illo ipsam, amet iure distinctio nesciunt
            provident necessitatibus similique saepe? Sequi praesentium maiores itaque? Dolorum, exercitationem labore?
            Corrupti autem modi repellendus.</p>
        <a href="#" class="btn">Subscribe</a>
    </div>
</div>