<head>
    <link href="https://fonts.googleapis.com/css2?family=Della+Respira" rel="stylesheet">
</head>

<div class="popup-screen d-flex flex-row-reverse" id="popup-screen" style="display: none;">
    <div class="popup-box pt-5 px-5">
        <div class="d-flex row align-items-center">
            <div class="col cart-heading">My cart (02)</div>
            <div class="col text-end close-btn" id="close-cart">&times;</div>
        </div>
        <div>
            <div class="row my-3">
                <div class="col-auto">
                    <div>
                        <img src="/img/rings/bag-prd2.png" alt="Product image" class="thankyou-preview-item-img">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <div class="row">
                        <div class="col form-header-text text-start">Diamond Ring</div>
                        <div class="col text-end form-header-text">$100</div>
                        <div class="mt-3 regular-text text-start">Size: S | Color: Blue</div>
                        <div class="mt-2 regular-text text-start">Quantity: 1</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex quanity-box">
                                <div class="ico minus">&minus;</div>
                                <input type="text" class="quantity-input" value="1" />
                                <div class="ico plus">&plus;</div>
                            </div>
                        </div>
                        <div class="col text-end">123</div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div>
            <div class="row my-3">
                <div class="col-auto">
                    <div>
                        <img src="/img/rings/bag-prd2.png" alt="Product image" class="thankyou-preview-item-img">
                    </div>
                </div>
                <div class="col align-items-center">
                    <div class="row">
                        <div class="col form-header-text text-start">Diamond Ring</div>
                        <div class="col text-end form-header-text">$180</div>
                        <div class="mt-3 regular-text text-start">Size: S | Color: Blue</div>
                        <div class="mt-2 regular-text text-start">Quantity: 1</div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>