<div class="container pt-4 pb-4">
    <div>
        <table>
            <thead>
                <tr>
                    <th class="pb-3">Jewellery</th>
                    <th class="ps-3 pb-3">More</th>
                    <th class="pb-3 d-flex justify-content-end">
                        <div class="right-col">
                            Subscribe to all things Aguri
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a>Rings</a></td>
                    <td class="ps-3"><a>Size Guide</a></td>
                    <td class="right-col justify-content-end" rowspan="4">
                        <div>
                            <input class="mb-4" type="text" id="email" placeholder="Email address">
                            <button id="join">Join now</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a>Earrings</a></td>
                    <td class="ps-3"><a>Shipping & Returns</a></td>
                </tr>
                <tr>
                    <td><a>Bracelets</a></td>
                    <td class="ps-3"><a>Product Care & Repair</a></td>
                </tr>
                <tr>
                    <td><a>Necklaces</a></td>
                    <td class="ps-3"><a>Contact Us</a></td>
                </tr>
            </tbody>
        </table>
        <hr class="my-4">
    </div>
    <div>
        <div class="row">
            <!-- Left Aligned Items -->
            <div class="col d-flex justify-content-start">
                <div class=""><a>Privacy policy</a></div>
                <div class="ms-4"><a>Terms & Conditions</a></div>
            </div>
            <div class="col justify-content-center text-center copyright-txt">&copy;2024 AGURI.UIT IE106.E11.CN1</div>

            <!-- Right Aligned Items -->
            <div class="col d-flex justify-content-end">
                <div class="me-3 text-decoration-underline"><a>Facebook</a></div>
                <div class="me-3 text-decoration-underline"><a>Instagram</a></div>
                <div class="text-decoration-underline"><a>Pinterest</a></div>
            </div>
        </div>
    </div>


</div>