<div class="container pt-4 pb-3">
    <div>
        <table>
            <thead>
                <tr>
                    <th class="pb-3">Jewellery</th>
                    <th class="ps-3 pb-3">More</th>
                    <th class="pb-3 d-flex justify-content-end">
                        <div>
                            Subscribe to all things Aguri
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rings</td>
                    <td class="ps-3">Size Guide</td>
                    <td class="justify-content-end" rowspan="4">
                        <div>
                            <div>
                                <input type="text" id="email" placeholder="Email address">
                                <input type="text" id="email" placeholder="Email address">
                                <input type="text" id="email" placeholder="Email address">
                            </div>
                            <p>test123</p>
                            <p>test123</p>
                            <p>test123</p>
                            <p>test123</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Earrings</td>
                    <td class="ps-3">Shipping & Returns</td>
                </tr>
                <tr>
                    <td>Bracelets</td>
                    <td class="ps-3">Product Care & Repair</td>
                </tr>
                <tr>
                    <td>Necklaces</td>
                    <td class="ps-3">Contact Us</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="mb-0">© 2024 Your Company. All rights reserved.</p>
</div>