.banner-box{
    position: relative;
}
.banner-img{
    /* background-image: url("/assets/img/about-us/1.png"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-position-y: center;
}
.banner-text {
    position: absolute;
    bottom: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjusts the alignment to the exact center */
    text-align: center;
    margin: 0;
}
.vision-img{
    width: 50%;
    height: 50%;
}
  