/*ALL*/
* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: #faf8f6;
}

h1,
h2,
.heading {
    font-family: "Della Respira", serif;
}

ul {
    padding-inline-start: 0;
}
li {
    list-style-type: none;
}
img {
    width: 100%;
    display: block;
}
a,
a.nav-link {
    color: #000;
    text-decoration: none;
}
a:hover,
i:hover {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.line {
    background-color: #999;
    width: 100%;
    height: 0.5px;
}

/*SPACING*/
.mbt {
    margin-bottom: 25px;
}
.mtp {
    margin-top: 25px;
}
.mt-40 {
    margin-bottom: 40px;
}
.mt-60 {
    margin-top: 60px;
}
.mbt-120 {
    margin-bottom: 120px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-9 {
    margin-bottom: 9px;
}
/*COLOR*/
.sub-color {
    color: #e7e7e7;
}

/*TYPO*/
h1 {
    font-size: 90px;
    font-weight: 600;
}
h2,
h3,
h4,
h5 {
    font-family: "Della Respira", serif;
    font-weight: 400;
}
.mdt {
    font-size: 16px;
    font-weight: 500;
}
.smt {
    font-size: 14px;
}
.decor-text {
    font-size: 13px;
    font-weight: 500;
}

/*INPUT*/
.inpu {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: none;
    font-size: 14px;
    padding: 0px;
    border-bottom: 1px solid #999;
    outline: none;
    width: 100%;
}
label {
    font-size: 14px;
    margin-bottom: 0px;
}

/*BUTTON*/
.btn {
    font-size: 14px;
    border: 2px #000 solid;
    border-radius: 0px;
}
.btn-pri {
    background-color: #000;
    color: #fff;
}
.btn-pri:hover {
    color: #000;
    background-color: #fff;
    border: 2px #000 solid;
}
.btn-sec {
    background: none;
    border: 2px #000 solid;
}
.btn-sec:hover {
    color: #fff;
    background-color: #000;
    border: 2px #000 solid;
}
.btnlg {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btnsm {
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-more {
    width: 20%;
    font-size: 14px;
    border: 2px #000 solid;
    border-radius: 0px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 10px 0 30px 0;
}
.btn-more:hover {
    background-color: #fff;
    color: #000;
}
/*HEADER*/
#logo {
    height: 30px;
}
.card-header {
    padding: 0px;
}
.header-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*search-box*/
.search-box {
    border-radius: 20px;
    padding: 3px 5px;
}
.search-box:hover {
    border: 1px solid #000;
}
.search-box:hover > input {
    width: 120px;
    padding: 0px 2px;
    color: #000;
}
.search-inp {
    width: 0;
}
input {
    border: none;
    padding: 0;
    background: none;
    font-size: 14px;
    transition: 0.5s ease;
}
.iconsearch {
    transition: 0.4s;
}

/*NAV*/

.navbar-here {
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-link {
    padding: 0px;
}
nav a {
    font-size: 16px;
}
nav li {
    padding: 10px 30px;
}
nav li:nth-child(5) {
    padding-right: 0px;
}
nav li:nth-child(1) {
    padding-left: 0px;
}
/*dropdown-menu-start*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #faf8f6;
    width: 1150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translate(-32.5%);
}
.dropdown-content a {
    float: none;
    padding: 0 50px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {
    transform: scale(1.5);
    transition: 0.2s;
    color: #000;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content .category {
    background-color: #e7e7e7;
    font-weight: bolder;
}
.dropdown-content li {
    padding: 20px 0px;
}
.dropdown-content .col-3 {
    padding: 0;
}
/*dropdown-menu-end*/
/*check-box*/
.check-box {
    margin-right: 10px;
}

/*FOOTER*/
.card-footer {
    padding: 30px 0px;
}
.card-footer li {
    font-size: 14px;
}
.card-footer .col-2 {
    padding-left: 0px;
}
.card-footer .col-4 {
    padding-right: 0px;
}
.follow-us i {
    padding-right: 10px;
}
.subscribe input {
    background-color: #faf8f6;
}
.subscribe-form button {
    width: 100%;
    margin-top: 16px;
}
.copy-right {
    color: #666666;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*PRODUCT-DETAIL-PAGE*/
.email-user {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Table-summary*/
.t-head {
    background-color: #000;
}
.t-head p {
    color: #fff;
}
/*ALL FOR BOOTSTRAP*/
/*OFFCANVAS*/
.offcanvas {
    --bs-offcanvas-width: 470px;
}
/*Modal*/
.modal-content {
    padding: 40px 60px 40px 60px;
}
.modal-dialog {
    max-width: 600px;
}
.quickview {
    max-width: 850px;
}
.modal-dialog .first-steps-inner {
    padding: 40px 65px 40px 65px;
}
.first-steps {
    max-width: 650px;
}
/*ACCORDION*/
.accordion {
    --bs-accordion-bg: none;
    --bs-accordion-btn-padding-x: 0px;
    --bs-accordion-btn-padding-y: 0px;
}
.accordion-body {
    padding: 0px;
}
.accordion-button:not(.collapsed) {
    color: #000;
}
.accordion {
    --bs-accordion-active-bg: none;
    --bs-accordion-border-color: none;
}
/*Carousel*/
.carousel-also {
    margin-bottom: 120px;
    padding-top: 40px;
}
/*CARD PRODUCT*/
.card-prd {
    position: relative;
    overflow: hidden;
}
.card-prd-bt {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: none;
}
.card-prd:hover > .card-prd-bt {
    display: block;
    transition: 0.4s all;
}
.card-prd:hover > .img {
    transform: scale(108%);
    filter: brightness(99%);
    transition: 0.4s all;
}
.card-prd .modal .line {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*BANNER*/
.banner-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img-text {
    position: absolute;
    color: #faf8f6;
    margin: auto;
}
/*BREADCRUMB*/
.breadcrumb a {
    font-size: 14px;
}
.breadcrumb {
    background-color: #faf8f6;
    padding-top: 0;
}
.breadcrumb-item {
    padding: 0;
}
/*Sign in*/
.signin-inner {
    margin: auto;
}
.price-box {
    border: 1px solid #000;
}
/*All Jewelery from home page*/
.item-box-all {
    position: relative;
    overflow: hidden;
}
.item-box-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: none;
}
.item-box-all:hover > .item-box-content {
    display: block;
    transition: 0.4s all;
}
.item-box-all:hover > .item-box-img {
    transform: scale(108%);
    filter: brightness(90%);
    transition: 0.4s all;
}
.item-box-content a {
    color: #fff;
}
.item-box-content a:hover {
    color: #fff;
    text-decoration: underline;
}
.bottom-content {
    position: relative;
}
.bottom-content-inner {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/*test-nav-scoll*/
body {
    --nav-height: 136px;
    padding-top: var(--nav-height);
    /*for test scroll back to top*/
    scroll-behavior: smooth;
}
.headnav {
    background: #faf8f6;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    height: var(--nav-height);
}
.nav--hidden {
    transform: translateY(-136px);
    transition: 0.4s all;
}
.offcanvas-body .fa-xmark {
    margin-bottom: 95px;
    padding-left: 45px;
}

/*QTY BOX*/
.qty-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    height: 30px;
}
/*back to top*/
.to-top {
    bottom: 0;
    cursor: pointer;
    margin: 50px;
    position: fixed;
    right: 0;
    opacity: 0;
    z-index: 1;
}
.show-scrollTop {
    opacity: 1 !important;
    transition: all 0.2s ease-in-out;
}
/*spinner*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 180px auto;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*trash item*/
.trash {
    color: #999;
}
.trash:hover {
    color: #000;
}
