@use "./variables.scss" as var;
@use "./common.scss" as common;

.popup-screen {
    z-index: 9998;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7));
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.popup-screen.show {
    opacity: 1;
    pointer-events: auto;
}

.popup-box {
    z-index: 9999;
    height: fit-content; //fit-content with height 100 to fix overflow missing color
    position: relative;
    background: white;
    max-width: 630px;
    min-height: 100vh;
}

.close-btn {
    font-size: 34px;
    cursor: pointer;
}

.cart-item .close-btn {
    font-size: 28px;
}

#rm-btn {
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

.cart-heading {
    font-weight: 500;
    font-family: "Della Respira", sans-serif;
    font-size: 34px;
    line-height: 38px;
}

.quanity-box {
    height: 40px;
    border: 1px solid black;
}

.quanity-box .ico {
    font-size: 24px;
    cursor: pointer;
}

.quantity-input {
    width: 30px;
    text-align: center;
    font-size: 16px;
    border: none;
    display: inline-block;
    vertical-align: middle;
}

.quantity-input:focus {
    outline: none;
}

#cart-notes textarea {
    height: 160px;
    max-height: 160px;
    border-radius: 0px;
}

#cart-notes textarea::placeholder {
    @include common.regular-1;
    color: var.$border-gray;
}

.cart-total-container {
    min-height: 150px
}

.cart-total-container .cart-heading {
    font-size: 26px
}

.cart-total-container #btn-pay {
    border-radius: 0px
}

.total-desc {
    @include common.regular-1;
    color: var.$border-gray;
}