@use "./variables.scss" as var;
@use "./common.scss" as common;

.border-right-gray {
    border-right: 1px solid var.$border-gray;
    height: 100%
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
    background-color: var.$main-bg-color;
}

.header-text {
    font-family: "Della Respira", sans-serif;
}

.form-header-text {
    @include common.regular-1;
    @include common.bold-2;
    line-height: 140%;
}


#ex-checkout p {
    @include common.bold-1;
}

#ex-checkout button {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    font-family: "Poppins";
    color: white;
    height: 52px;
}

#ex-checkout hr {
    width: 100%;
    height: 1px;
    background-color: #020954;
}

#ex-checkout hr+p {
    @include common.bold-2;
    color: #020954;
}

.input-field {
    border-radius: 0px;
    border-color: var.$input-border-gray;
    height: 45px
}

#checkout input {
    border-color: var.$border-gray;
}

#checkout input::placeholder {
    @include common.regular-1;
    color: var.$border-gray;
    font-family: "Nunito Sans", sans-serif;
    line-height: 21px;
}

.active-payment {
    height: 52px;
    background-color: var.$second-bg-color;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: solid black;
    border-width: 2px;
}

.payment-info {
    background-color: var.$main-bg-color;
    border: solid var.$border-gray;
    border-width: 1px;
}

.active-payment label {
    @include common.regular-1;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.deactive-payment {
    height: 52px;
    background-color: var.$main-bg-color;
    border: solid var.$border-gray;
    border-width: 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#btn-pay {
    @include common.black-uppercase-button;
}

#paynow {
    margin-bottom: 60px;
}

.img-col {
    width: 100%;
}

.checkout-image-container {
    position: relative;
}

.checkout-preview-item-img {
    width: 100px;
    height: 100px;
}

.badge-top-right {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #F0E5E3;
    color: white;
    border-radius: 50%;
    padding: 5px 12px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    color: #020954;
}

#btn-apply-cupon {
    @include common.black-uppercase-button;
    border-radius: 0px;
    width: 120px;
}