@use "./variables.scss" as var;
<<<<<<< HEAD
@use "./common.scss" as common;
=======
>>>>>>> 1dcbdfd ([FEAT] Add common footer component (#6))

.main-footer {
    margin-top: auto;
    background-color: var.$second-bg-color;
}

footer th {
    font-family: var.$main-font, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

footer a {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

footer table {
    width: 100%;
}

.right-col {
    width: 400px;
    text-align: left;
}

footer input#email {
    outline: 0;
    border-width: 0 0 2px;
    border-color: var.$border-gray;
    width: 100%;
    font-size: 16px;
    background-color: inherit;
}

footer input#email:focus {
    border-bottom: 1px solid #000
}


footer button#join {
<<<<<<< HEAD
    @include common.black-uppercase-button;
=======
    background-color: black;
    width: 100%;
    height: 45px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
>>>>>>> 1dcbdfd ([FEAT] Add common footer component (#6))
}

.copyright-txt {
    color: gray;
}