@use "./variables.scss" as var;

.main-footer {
    margin-top: auto;
    background-color: var.$second-bg-color;
}

footer th {
    font-family: var.$main-font, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

footer table {
    width: 100%;
}

.right-col {
    display: flex;
    justify-content: flex-end;
}

.right-col div {
    width: 400px;
    text-align: left;
}

footer input#email {
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 1px solid gray;
    width: 100%;
    background-color: inherit;
}
