$main-bg-color: #FAF8F6;
$border-gray: #CCCCCC;
<<<<<<< HEAD
$input-border-gray: solid #999;
=======
>>>>>>> 1dcbdfd ([FEAT] Add common footer component (#6))
$second-bg-color: #E1DCD6;
$main-font: "Karla";